{% extends "template.html" %}
{% block conteudo %}
      <form action="{{ url_for('atualizar') }}" method="post" enctype="multipart/form-data">

        <figure class="img-thumbnail col-md-4">
          <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo=capa_filme) }}">
          <figcaption>
            <label class="fileContainer">
              Mudar Capa
              <input type="file" name="arquivo" accept=".jpg">
            </label>
          </figcaption>
        </figure>

        <fieldset>
            <input type="hidden" name="id" value="{{ filme.id }}">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control" value="{{ filme.nome }}"><br>
          </div>
          <div class="form-group">
            <label for="genero">Gênero</label>
            <input type="text" id="genero" name="genero" class="form-control" value="{{ filme.genero }}"><br>
          </div>
          <div class="form-group">
            <label for="plataforma">Plataforma</label>
            <input type="text" id="plataforma" name="plataforma" class="form-control" value="{{ filme.plataforma }}"><br>
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        </fieldset>
        </form>
{% endblock %}
